/* импорт двух важных библиотек: в одной у нас более-менее нарисован UI, в другой у нас происходит масксимально кросс-браузерный сброс стилей */
/* посмотрим, насколько это поможет */

@import 'norm.css';
@import 'picnic.css';
@import 'adaptive.css';
@font-face{
    font-family:"Blooming";
    src: url("fonts/Blooming\ Elegant\ Sans.otf") format("opentype");
}

/* здесь пойдут мои собственные стили */
body{
    background-color: #F5F5F5;
}
.main_screen{
   
    width: 100vw;

    display: flex;
    justify-content: center;
    text-align: center;
   
}
.greeting{
    margin-top: 7vw;
    display: flex;
    flex-flow: column nowrap;
    width: 50vw;
    align-items: space-around;
    height: 500px;
   
}
.greeting__p{
    font-family: 'PT Serif', serif;
    font-size: 1.4em;
}
.greeting__h1{
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
  
}
.greeting__wrapper{
    display: flex;
    justify-content: flex-end;
}
.greeting__button{
    /* width: 300px; */
    outline: none;
    /* font-size: 1.2em; */
    height:50px;
    font-family: 'PT Serif', serif;
    letter-spacing: 0.8px;
    margin-top: 27px;
}

/* вторая страница */
.settings{
    margin-top: 3vw;
}
.settings_select{
    width: 300px;
    margin-bottom: 2vw;
}
.settings_wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 3vw;
}
.settings_h1{
    font-size: 2em;
    font-size: 'Playfair Display', serif;
}
.settings_h2{
    font-size: 1em;
    font-family: 'PT serif';
}
.register{
    display: flex;
    padding-top: 2vw;
    width: 80%;
    justify-content: space-around;
}
.register input{
    margin-bottom: 1em;
}
.chat_wrapper{
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 10px;
    align-items: center;
}
.chat_wrapper button{
    font-size: 1vw;
    width: 100px;
    margin-left: 15px;
}
.chat_textarea{
    margin:0 !important;
    font-size: 0.5em !important;
}
.main_dialog{
    background-color: #292A2F;
    color: #D3D3D4;
    width: 80%;
}
.main_dialog_white{
    background-color: #ffffff;
    color: #2A2A2A;
    width: 80%;
}
.main_dialog_message{
    padding-left: 2em;
    padding-top: 1em;
    display: flex;
    width: 300px;
}
.main_dialog_nick{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;

}

.main_dialog_message_text,.main_dialog_nick {
    font-size: 14px;
    font-family: "Bloom";
    letter-spacing: 1px;
}
.main_dialog_message_ava{
    height:50px;
    width: 50px;
    background-size: 100%;
    border-radius: 50%;
}
.chat_button_stack button{
    font-size: 20px;
}
.chat_h5{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
.date{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}
.form_date{
    width: 80%;
    display: flex;
    justify-content: center;
}
.form_date input{
    width: 80px;
    text-align: center;
}
label{
    margin-top: 5px;
}
.time_message{
    position: relative;
    left: 387px;
    top:-33px;
    color: #9E9E9E;
    font-size: 12px;
    letter-spacing: 1px;
}
.button_stack{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button_stack button{
    width: 200px;
}
.user1{
    color: #FF6A00;
}
.user2{
    color:#4562F0;
}
.user3{
    color: #9741D7;
}
